/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 32rem;
  font: 1.4rem "Open Sans", sans-serif;
  background-color: #181f2a;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

.design {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.design .jotpeg {
  height: 9036px;
  background: url("../design/mobile-design.jpg") no-repeat 0 0/100%;
}

.container, .header__container, .intro__container, .features__container, .works__container, .testimonials__container, .signUp__container, .footer__container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 128rem;
}

@media (min-width: 768px) {
  .container, .header__container, .intro__container, .features__container, .works__container, .testimonials__container, .signUp__container, .footer__container {
    padding: 0;
    width: 90%;
  }
}

.heading, .card__heading, .intro__heading, .works__heading, .signUp__heading {
  font: 700 2.4rem/150% "Raleway", sans-serif;
  color: white;
}

.text, .card__text, .testimonial__quote, .testimonial__name, .testimonial__position, .intro__text, .works__text, .signUp__text {
  font: 400 1.4rem/160% "Open Sans", sans-serif;
}

.button, .intro__button, .signUp__button {
  position: relative;
  padding: 1.05em 2em;
  font-weight: 700;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  border-radius: 3em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button, .intro__button, .signUp__button {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
}

.button::after, .intro__button::after, .signUp__button::after {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-box-shadow: 0 1rem 3rem rgba(51, 158, 204, 0.5);
          box-shadow: 0 1rem 3rem rgba(51, 158, 204, 0.5);
  content: '';
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.button:hover::after, .intro__button:hover::after, .signUp__button:hover::after {
  opacity: 1;
}

.button:focus, .intro__button:focus, .signUp__button:focus {
  outline: none;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

.input, .signUp__input {
  padding: 1em 2em;
  color: #1c2431;
  border: 1px solid transparent;
  border-radius: 3em;
}

@media (min-width: 768px) {
  .input, .signUp__input {
    padding: 1.6rem 2.4em;
    font-size: 1.5rem;
  }
}

.input::-webkit-input-placeholder, .signUp__input::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 1.2rem;
}

.input:-ms-input-placeholder, .signUp__input:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 1.2rem;
}

.input::-ms-input-placeholder, .signUp__input::-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 1.2rem;
}

.input::placeholder, .signUp__input::placeholder {
  color: #b3b3b3;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .input::-webkit-input-placeholder, .signUp__input::-webkit-input-placeholder {
    font-size: unset;
  }
  .input:-ms-input-placeholder, .signUp__input:-ms-input-placeholder {
    font-size: unset;
  }
  .input::-ms-input-placeholder, .signUp__input::-ms-input-placeholder {
    font-size: unset;
  }
  .input::placeholder, .signUp__input::placeholder {
    font-size: unset;
  }
}

.input:focus, .signUp__input:focus {
  outline: none;
  border: 1px solid #e6e6e6;
}

.card, .features__card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.card__icon {
  margin-bottom: 2rem;
  width: 6.5rem;
  height: 6.5rem;
}

@media (min-width: 992px) {
  .card__icon {
    margin-bottom: 1rem;
    width: 8.4rem;
    height: 8.4rem;
  }
}

.card__heading {
  text-align: center;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .card__heading {
    font-size: 2rem;
  }
}

.card__text {
  max-width: 95%;
  text-align: center;
}

.fancy-link {
  position: relative;
  font-size: 1.2rem;
  color: #65e2d9;
}

@media (min-width: 768px) {
  .fancy-link {
    font-size: 1.6rem;
  }
}

.fancy-link::before {
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  height: 0.1rem;
  background-color: #65e2d9;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.fancy-link::after {
  display: inline-block;
  margin-bottom: 0.2rem;
  margin-left: 0.6rem;
  vertical-align: middle;
  width: 1.6rem;
  height: 1.6rem;
  background: url("../images/icon-arrow.svg") no-repeat;
  content: '';
}

.fancy-link:hover::before {
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
}

.testimonial {
  position: relative;
  padding: 2.4rem 2rem 2rem;
  max-width: 36rem;
  background-color: #202a3c;
  border-radius: 0.6rem;
}

@media (min-width: 768px) {
  .testimonial {
    padding: 3.6rem 3rem 2rem;
  }
}

.testimonial__quote {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 180%;
}

@media (min-width: 768px) {
  .testimonial__quote {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 160%;
  }
}

.testimonial__author {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'photo name' 'photo position';
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1rem;
}

.testimonial__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.testimonial__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 1.1rem;
  font-weight: 700;
}

.testimonial__position {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: position;
  font-size: 0.8rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.social__link {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.social__link:hover {
  background-color: white;
}

.social__link:hover .social__icon {
  color: #0b1523;
}

.social__icon {
  width: 1.3rem;
  height: 1.3rem;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header {
  background-color: #1c2431;
}

.header__container {
  padding-top: 6vmin;
  padding-bottom: 12.8vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 17.8rem;
  width: 25%;
  font-size: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.2vmin;
}

.header__nav-link {
  font-size: 1.2rem;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #65e2d9;
}

.intro {
  position: relative;
}

.intro::after {
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: calc(65.5rem - 100vmin);
  background: url("../images/bg-curvy-mobile.svg") no-repeat center bottom/100% #1c2431;
  content: '';
  z-index: -1;
}

.intro__container {
  position: relative;
  padding-bottom: 8rem;
  z-index: 1;
}

.intro__image {
  margin: 0 auto;
  margin-bottom: 3.25rem;
  max-width: 71.5rem;
  width: 90%;
}

.intro__content {
  text-align: center;
}

.intro__heading {
  margin: 0 auto;
  margin-bottom: 1.4rem;
  max-width: 68rem;
}

.intro__text {
  margin: 0 auto;
  margin-bottom: 2.4rem;
  width: 90%;
  max-width: 59rem;
}

.intro__button {
  width: 70%;
  max-width: 28rem;
}

.features__container {
  padding-top: 4.5rem;
  padding-bottom: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
}

.works__container {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.works__image {
  margin: 0 auto;
  margin-bottom: 3.75rem;
  width: 95%;
  max-width: 61rem;
}

.works__content {
  margin: 0 auto;
  width: 97%;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.works__heading {
  font-size: 1.8rem;
}

.testimonials__container {
  padding-top: 11rem;
  padding-bottom: 9rem;
  width: 87.5%;
  max-width: 116rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 2.3rem;
}

.testimonial:first-child::before {
  position: absolute;
  top: -1.7rem;
  left: 0.5rem;
  width: 3vmax;
  height: 2.3vmax;
  background: url("../images/bg-quotes.png") no-repeat 0 0/contain;
  content: '';
  z-index: -1;
}

.signUp__container {
  position: relative;
  margin-top: 6rem;
  padding: 3.5rem 3rem;
  max-width: 86rem;
  width: 90%;
  background-color: #1c2431;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.2);
}

.signUp__heading {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  text-align: center;
}

.signUp__text {
  margin-bottom: 3rem;
  text-align: center;
}

.signUp__form {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.footer {
  background-color: #0b1523;
}

.footer__container {
  margin-top: -17.8rem;
  padding-top: 25rem;
  padding-bottom: 3rem;
  color: white;
}

.footer__container a {
  color: white;
}

.footer__container a:hover {
  text-decoration: underline;
}

.footer__logo {
  margin-bottom: 4rem;
  height: 5.3rem;
  background-color: white;
  -webkit-mask: url("../images/logo.svg") no-repeat 0 0/contain;
          mask: url("../images/logo.svg") no-repeat 0 0/contain;
}

.footer__contacts {
  margin-bottom: 8rem;
  display: -ms-grid;
  display: grid;
  gap: 1.8rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.03rem;
}

.footer__contact::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  height: 1.8rem;
  content: '';
}

.footer .contact-location::before {
  margin-top: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: url("../images/icon-location.svg") no-repeat;
}

.footer .contact-phone {
  font-size: 1.4rem;
}

.footer .contact-phone::before {
  background: url("../images/icon-phone.svg") no-repeat;
}

.footer .contact-email {
  font-size: 1.4rem;
}

.footer .contact-email::before {
  margin-top: 0.3rem;
  background: url("../images/icon-email.svg") no-repeat;
}

.footer__nav {
  margin-bottom: 8rem;
}

.footer__nav-list {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.footer__nav-list li:nth-child(5) {
  padding-top: 2.6rem;
}

.footer__nav-link {
  font-size: 1.5rem;
}

.footer__social {
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .intro::after {
    bottom: 5rem;
  }
  .footer__container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'logo logo' 'contact nav' 'social social';
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
    gap: 0 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
  }
  .footer__contacts {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact;
  }
  .footer__nav {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: nav;
  }
  .footer__nav-list {
    grid: repeat(4, 1fr)/repeat(2, 1fr);
    grid-auto-flow: column;
  }
  .footer__nav-list li:nth-child(5) {
    padding-top: 0;
  }
  .footer__social {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: social;
  }
}

@media (min-width: 768px) {
  .header__nav-list {
    gap: 5.7rem;
  }
  .header__nav-link {
    font-size: 1.6rem;
  }
  .features__container {
    -ms-grid-columns: (minmax(28rem, 38rem))[2];
        grid-template-columns: repeat(2, minmax(28rem, 38rem));
    gap: 8rem;
  }
  .works__heading {
    margin-bottom: 0.6rem;
    font-size: 3rem;
  }
  .works__fancy-link {
    margin-top: 0.6rem;
  }
  .testimonial:first-child::before {
    top: -3rem;
    left: -1rem;
    width: 5rem;
    height: 5rem;
  }
  .signUp__heading {
    font-size: 3.2rem;
  }
  .signUp__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 68% 1fr;
        grid-template-columns: 68% 1fr;
  }
  .signUp__button, .signUp__input {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .header__container {
    padding-top: 7rem;
    padding-bottom: 8rem;
  }
  .intro::after {
    bottom: -6rem;
    background: url("../images/bg-curvy-desktop.svg") no-repeat center bottom/100% #1c2431;
  }
  .intro__container {
    padding-bottom: 14rem;
  }
  .intro__heading {
    margin-bottom: 3.5rem;
    font-size: 4rem;
  }
  .intro__text {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .features__container {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
    gap: 8rem 12rem;
  }
  .works__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__content {
    padding: 3rem 2rem 0 5rem;
  }
  .works__image {
    margin: 0;
    margin-left: auto;
  }
  .works__heading {
    max-width: 40rem;
    font-size: 4rem;
    line-height: 125%;
  }
  .works__text {
    font-size: 1.6rem;
  }
  .testimonials__container {
    gap: 3rem;
  }
  .testimonial:first-child::before {
    top: -4rem;
    width: 5.5rem;
    height: 5.5rem;
  }
  .signUp__container {
    margin-top: 13rem;
    padding: 3rem 7.5rem;
  }
  .footer__container {
    margin-top: -11rem;
    padding-top: 20rem;
        grid-template-areas: 'logo . . .' 'contact contact nav social';
    -ms-grid-columns: 28% 28% 22% 1fr;
        grid-template-columns: 28% 28% 22% 1fr;
  }
  .footer__logo {
    margin-bottom: 3.5rem;
    margin-left: 4rem;
  }
  .footer__contacts {
    margin-left: 4rem;
        grid-template-areas: 'location phone' 'location email';
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
    gap: 0 2.8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .contact-location {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: location;
    max-width: 40rem;
  }
  .footer .contact-phone {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: phone;
  }
  .footer .contact-email {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: email;
  }
}
/*# sourceMappingURL=main.css.map */